**References:**
- https://pandas.pydata.org/pandas-docs/stable/advanced.html
- https://www.somebits.com/~nelson/pandas-multiindex-slice-demo.html

In [2]:
import pandas as pd
import io

In [4]:
data = io.StringIO('''Fruit,Color,Count,Price
Apple,Red,3,$1.29
Apple,Green,9,$0.99
Pear,Red,25,$2.59
Pear,Green,26,$2.79
Lime,Green,99,$0.39
''')
df_unindexed = pd.read_csv(data)
df_unindexed

   Fruit  Color  Count  Price
0  Apple    Red      3  $1.29
1  Apple  Green      9  $0.99
2   Pear    Red     25  $2.59
3   Pear  Green     26  $2.79
4   Lime  Green     99  $0.39

In [5]:
df = df_unindexed.set_index(['Fruit', 'Color'])
df

             Count  Price
Fruit Color
Apple Red        3  $1.29
      Green      9  $0.99
Pear  Red       25  $2.59
      Green     26  $2.79
Lime  Green     99  $0.39

In [6]:
df.xs('Apple')

       Count  Price
Color
Red        3  $1.29
Green      9  $0.99